[mysqld]
basedir=/app/mysql
datadir=/app/mysql/data
pid_file=/app/mysql/mysqld.pid
#socket=/app/mysql/mysql.sock
socket=/tmp/mysql.sock
server_id=1
user=mysql
log_error=/app/mysql/data/mysql.err
port=3306
